<!DOCTYPE html>
<html>
  <head>
    <title>WebHostingPlatform</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render 'layouts/navbar' %>


 <div id="login_user_status">
    <% if user_signed_in? %>
        Signed in as <%= current_user.email  %>
    <% else %>
        <em>Not Signed in.</em>
        <%= link_to 'Sign in', new_user_session_path%>
        or
        <%= link_to 'Sign up', new_user_registration_path%>
    <% end %>
</div>

  <body>
    <%= yield %>
  </body>
</html>
